:root {
    --white: #ffffff;
    --black: #000000;
    --background: #f6f9ff;
    --button-primary: #008CBA;
    --button-success: #4CAF50;
    --button-danger: #f44336;
    --button-gray: #e7e7e7;
    --link-color: #008CBA;
    --logo-color: #012970;
    --box-shadow: rgba(1, 41, 112, 0.1);
  }
  
  /* A-shop */
  .book-card{
      box-shadow: 0px 3px 20px rgba(1, 42, 112, 0.225);
      background: var(--white);
      cursor: pointer;
      border: 2px solid var(--white);
    }
    .book-card:hover{
      background: var(--background);
      border: 2px solid var(--black);
    }
  
    .card {
      max-width: 30em;
      flex-direction: row;
      /* box-shadow: 2px -1px 4px -2px rgb(186, 186, 186); */
      min-height: 150px;
    }
    .product-category {
      color: #000000eb;
    }
  
    .productCard{
      border-radius: 1px;
      border: 1px solid rgb(255, 255, 255);
    }
    .productCard:hover{
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
      border: 1px solid #e7e7e7;
      background-color: white;
    }
    .productCard:hover .imagess{
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.1);
      transition: 1s ease;

    }
    
    .card img {
      max-width: 100px;
      max-height: 100px;
      margin: auto;
      border-radius: 0.7em;
      cursor: pointer;
    }
    .card-body {
      display: flex;
      justify-content: space-between;
    }
    .posted-time{
      font-size: 0.9rem;
      color: #828282;
    }
    .cta-section {
      max-width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
    }
    .cta-section .btn {
      padding: 0.3em 0.5em;
      /* color: #696969; */
    }
    .card.bg-light-subtle .cta-section .btn {
      background-color: #898989;
      border-color: #898989;
    }
    @media screen and (max-width: 470px) {
      .card {
        font-size: 0.9em;
      }
      .posted-time{
        display: none;
      }
    }
  