body {
    height: 100vh;
    background-color: #f6f9ff;
  }
.wrapper{
    /* border: 1px solid black; */
    border-top: 3px solid dodgerblue;
}
.wrapper a{
    text-decoration: none;
    color: dodgerblue;
}

/* login form  checkbox cursor*/
.form-check-input[type="checkbox"]{
    cursor: pointer;
}
.form-control{
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-control:active{
    border:1px solid #009065;
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(34, 255, 0, 0.6); */
    box-shadow: none;
  }
  .dropdown-item:active{
    background: #198754;
  }
  .form-check-input:checked{
    background-color: #198754;
  }